<div class="home-page full-screen" ng-controller="HomeController">
    <span class="intro-block text-center weight-thin">
        <img src="/res/home/logo.png"/><br/>
        <strong class="weight-bold">Diši duboko</strong> informiše<br/>
        i obaveštava korisnika o kvalitetu<br/>
        vazduha u njegovom okruženju
    </span>

    <div class="text-center button-block">
        <button class="button button-orange" ng-click="close()" ng-disabled="showButton">
            <span class="weight-regular">Nastavi</span>
            <i class="fa fa-long-arrow-right weight-thin"></i>
        </button>
    </div>
    <span class="courtesy-block text-center weight-thin">
        Podaci preuzeti sa sajta Agencije za zažtitu životne sredine Republike Srbije
    </span>
</div>