<div class="aqi-page full-screen" ng-controller="AqiController">
    <div class="location-box">
        <span class="left weight-thin">
            <strong class="weight-regular" ng-bind="station.city"></strong>,
            <span ng-bind="station.name"></span> <strong class="weight-regular" ng-bind="time"></strong>
        </span>
        <span class="right" ng-if="temp">
            <i class="icon-thermometer left"></i> <span ng-bind="temp"></span>&deg;
        </span>
    </div>
    <div class="base-box">
        <div class="inner-circle">
            <div class="counter" ng-if="station">
                <span class="pre" ng-bind="unit"></span>

                <h3 class="{{aqi_color}}" ng-bind="value"></h3>
                <span class="post" ng-bind="name"></span>
            </div>
        </div>
        <a class="question" ng-click="openAQIDescription(value)">Filters</a>
        <a class="cog">Info</a>
    </div>
    <div class="button-block text-center">
        <button class="button button-black" ng-click="openLegend()">
            &centerdot; &nbsp;&nbsp; Legenda &nbsp;&nbsp; &centerdot;
        </button>
    </div>
</div>