<div class="aqi-page full-screen" ng-controller="AqiController">
    <div class="location-box">
        <span class="left weight-thin">
            Beograd, Vidikovac u <strong class="weight-regular">12:00</strong>
        </span>
        <span class="right">
            <i class="icon-thermometer left"></i> 26&deg;
        </span>
    </div>
    <div class="base-box">
        <div class="inner-circle">
            <div easypiechart options="{{options}}" percent="{{percent}}"></div>
        </div>
        <a class="question">Filters</a>
        <a class="cog">Info</a>
    </div>
    <div class="button-box">
        <button class="button button-black">

        </button>
    </div>
</div>