<div class="legend-page full-screen" ng-controller="LegendController">
    <div class="green">
        <h1>odličan</h1>

        <p class="text-center">
            Vazduh je odličan! Uživajte
            u vašim uobičajenim aktivnostima. Provodite više vremena napolju,
            dišite duboko.
        </p>
    </div>

    <div class="blue">
        <h1>dobar</h1>

        <p class="text-center">
            Vazduh je dobrog kvaliteta.
            Ukoliko ne osećate ništa čudno u vazduhu, verovatno je sve u redu.
        </p>
    </div>

    <div class="yellow">
        <h1>prihvtaljiv</h1>

        <p class="text-center">
            Zagađenje vazduha za opštu populaciju je prihvatljivo.
            Senzitivne grupe bi trebale da smanje
            boravak napolju.
        </p>
    </div>

    <div class="purple">
        <h1>zagađen</h1>

        <p class="text-center">
            Vazduh zagađen. Preporuka za
            sve je da smanje boravak napolju, naročito senzitivne grupe.
        </p>
    </div>

    <div class="red">
        <h1>veoma zagađen</h1>

        <p class="text-center">
            Visoko zagađenje vazduha. Nije preporučljivo izlaziti napolje, osim u izuzetnim slučajevima.
        </p>
    </div>

    <p><br/><br/><br/><br/><br/></p>

    <div class="button-block text-center">
        <button class="button button-black" ng-click="closeLegend()">
            Zatvori
        </button>
    </div>
</div>