<div class="social-page full-screen" ng-controller="AboutController">
    <h1>Podeli na</h1>

    <div class="button-block text-center">
        <button class="button button-facebook">
            facebook
        </button>
    </div>
    <div class="button-block text-center">
        <button class="button button-twitter">
            twitter
        </button>
    </div>
    <div class="button-block text-center">
        <button class="button button-google">
            google +
        </button>
    </div>
</div>