<div class="alerts-page general-page full-screen" ng-controller="AlertsController">
    <h1>Notifikacije</h1>

    <div class="list">
        <label class="item item-checkbox">
            Isključeno
            <label class="checkbox">
                <input type="checkbox" name="alerts" value="off" checked>
            </label>
        </label>
        <label class="item item-checkbox">
            Uključeno
            <label class="checkbox">
                <input type="checkbox" name="alerts" value="on">
            </label>
        </label>
    </div>

    <div class="button-block text-center">
        <button class="button button-orange">
            Primeni
        </button>
    </div>

</div>